body{

  color: black;
  font-family: monospace;
}
.title{
  text-align: center;
  font-family: 'starjedi';
  color: black;
}
li{
  list-style-type: none;
  display: inline;
}
article, header{
  padding: 1%;
  margin: 2%;
  border: 1px solid black;

}
input{
  background-color: black;
  border: 1px solid white;
  width: 25%;
  height: 40px;
  display: block;
  margin: 0 auto;
  color: white;
}

a{
  margin: 0 1% 0 0;
}
